.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-cb {
    -webkit-appearance: none;
    position: relative;
    width: 75px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid #C0C0C0;
    background-color: lightgray;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

.toggle-cb::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-80%, -50%);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border: 2px solid #C0C0C0;
    transition: left .3s;
}

.toggle-cb:checked {
    background-color: red;
}

.toggle-cb:checked::after {
    left: 100%;
}